<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296444324449-36fkcdcggc3ksorrnn1ljf6eca5pi0bb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296444324449-36fkcdcggc3ksorrnn1ljf6eca5pi0bb</string>
	<key>API_KEY</key>
	<string>AIzaSyB0wJam_gj6jqeVfACDOG6vSUZa_k5x4Pc</string>
	<key>GCM_SENDER_ID</key>
	<string>296444324449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Pawan-Kumar.ProfileManagementSystem</string>
	<key>PROJECT_ID</key>
	<string>profilemanagementsystem-d6cdc</string>
	<key>STORAGE_BUCKET</key>
	<string>profilemanagementsystem-d6cdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296444324449:ios:8b96b0958f5df16346d820</string>
	<key>DATABASE_URL</key>
	<string>https://profilemanagementsystem-d6cdc.firebaseio.com</string>
</dict>
</plist>